*{
    padding: 0;
    margin: 0;
}
.block1{
    padding-top: 28vh;
    padding-bottom: 5vh;
    background-image: url(media/image4.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.block1 .title{
    left: 10px;
    font-family: "Inter";
    font-size: 3em;
    color: rgb(8, 139, 133);
    text-align: left;
    margin-left: 5vh;
}
.block1 .paragraph{
    left: 60px;
    font-family: "Inter";
    color: white;
    font-size: 1em;
    margin-left: 10vh;
    width: 80%;
    backdrop-filter: blur(100px);
}
.block2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    top: 50vh;
    padding: 50px;
    gap: 50px;
}
.box1, .box2, .box3, .box4, .box5, .box6{
    background-color: rgb(206, 206, 206);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.box1 .title, .box2 .title, .box3 .title, .box4 .title, .box5 .title, .box6 .title{
    font-family: "Inter";
    color: white;
    font-size: 20px;
    padding: 10px 15px;
}
.parenttitle{
    background-color: rgb(17, 155, 148);
    display: flex;
    flex-direction: column;
    flex: 1;
}
.box1 .paragraph, .box2 .paragraph, .box3 .paragraph, .box4 .paragraph, .box5 .paragraph, .box6 .paragraph{
    font-family: "Inter";
    font-size: 15px;
    padding: 10px 15px;
}
.newsletter{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: white;
}
.leftblock{
    padding: 100px 10px;
}
.leftblock h3{
    font-family: "Inter";
    color: lightseagreen;
    font-size: 3em;
    margin: 5px 15px;
}
.leftblock p{
    font-family: "Inter";
    font-size: 15px;
    margin: 30px 50px;
}
.container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
}

#email {
    width: 80vh;
    height: 30px;
    border: 4px solid lightseagreen;
    padding-left: 5px;
}

.button {
    background: rgb(21, 117, 113);
    padding: 10px 40px;
}

.button a {
    text-decoration: none;
    color: white;
    font-family: "Inter";
}
@media (max-width: 800px) {
    .newsletter{
        grid-template-columns: 1fr;
    }
    .block2{
        grid-template-columns: 1fr;
    }
    #email{
        width: 100%;
    }
    .block2 img{
        object-fit: cover;
    }
    .block1{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .block1 .title{
        font-size: 1.5em;
        text-align: center;
        margin: 0;
        padding: 2% 5%;
        width: auto;
        align-items: center;
    }
    .block1 .paragraph{
        font-size: 11px;
        margin: 0;
        width: auto;
        padding: 2% 5%;
        text-align: center;
    }
    .block2 .title{
        font-size: 1em;
    }
    .block2 .paragraph{
        font-size: 12px;
    }
    .block2 .button{
        padding: 1% 3%;
    }
    .block2 .button a{
        font-size: 12px;
    }
    .block2 svg{
        height: 15px;
    }
    .leftblock{
        padding: 0;
        margin: 0;
        flex-direction: column;
        text-align: center;
    }
    .leftblock h3, .leftblock p{
        margin: 0;
        padding: 1% 1%;
    }
    .leftblock h3{
        font-size: 1.5em;
    }
    .leftblock p{
        font-size: 11px;
        padding: 0 10px;
    }
    .container{
        margin: 0;
        padding: 2%;
        flex-direction: column;
    }
    .container{
        margin: 0;
        padding: 2%;
        flex-direction: column;
    }
    .leftblock #email{
        width: 80%;
        border: 3px solid lightseagreen;
        font-size: 10px;
    }
    .newsletter .button{
        padding: 1.5% 8%;
    }
    .newsletter .button a{
        font-size: 13px;
    }
}